<div class="wrapper">
  <div *ngFor="let stage of levels" class="status-level">
    <div
      routerLink="{{ stage.route }}"
      routerLinkActive="status-level-active"
      class="level"
      [style.backgroundColor]="
        getStorage(stage.nameAccess) 
          ? (stage.id < level ? 'var(--color-blue-dark)' : 'var(--color-blue)')
          : 'var(--color-grey-light)'"
      [style.cursor]="getStorage(stage.nameAccess) ? 'pointer' : 'initial'"
      [style.pointerEvents]="getStorage(stage.nameAccess) ? 'all' : 'none'"
    >
      {{ stage.name }}
    </div>
  </div>
</div>
