<div
  class="wrapper-modal-next"
  *ngIf="
    removeSpaceAndUpperCase(textInput) == removeSpaceAndUpperCase(textCorrect)
    && removeSpaceAndUpperCase(textInputHtml) == removeSpaceAndUpperCase(textCorrectHtml)
  "
>
  <div class="modal-next">
    <h2>Parabéns!!</h2>
    <p>Conseguimos exibir "Olá mundo" na tela utilizando a interpolação.</p>
    <button [routerLink]="['/games/introduction/second']">Próximo desafio</button>
  </div>
</div>

<section>
  <img src="../../../assets/images/first-scenery.png" class="scenary" alt="scenery">

  <div class="wrapper">
    <div class="text-wrapper">
      <div [class]="openModal == false ? 'text-container' : 'text-container-open'">
        <div class="text-square">
          <div class="text-title-container">
            <div class="text-dot-container">
              <div class="text-dot" style="background-color: rgba(255, 98, 92);"></div>
              <div class="text-dot" style="background-color: rgba(254, 191, 67);"></div>
              <div class="text-dot" style="background-color: rgba(53, 201, 75);"></div>
            </div>

            <p>app.component.ts</p>
          </div>

          <div class="line-container">
            <p class="line-number">1</p>
            <p>{{ firstLine }}</p>
          </div>

          <div class="line-container">
            <p class="line-number">2</p>

            <div *ngIf="removeSpaceAndUpperCase(textInput) != removeSpaceAndUpperCase(textCorrect)">
              <input
                [(ngModel)]="textInput"
                class="line-one-space-left first-input"
                type="text"
                (focusout)="conclude()"
              >
              : string = "Olá Mundo";
            </div>

            <div
              *ngIf="removeSpaceAndUpperCase(textInput) == removeSpaceAndUpperCase(textCorrect)"
              class="container-text-complete line-one-space-left"
            >
              <p class="main-first-text-complete">texto: string = "Ola Mundo";</p>
            </div>
          </div>

          <div class="line-container">
            <p class="line-number">3</p>
          </div>

          <div class="line-container">
            <p class="line-number">4</p>
            <p class="line-one-space-left">{{ thirdLine }}</p>
          </div>

          <div class="line-container">
            <p class="line-number">5</p>
          </div>

          <div class="line-container">
            <p class="line-number">6</p>
            <p class="line-one-space-left">{{ fourthLine }}</p>
          </div>

          <div class="line-container">
            <p class="line-number">7</p>
            <p >{{ fifthLine }}</p>
          </div>

          <div class="line-container">
            <p class="line-number">8</p>
          </div>
        </div>

        <div class="text-square">
          <div class="text-title-container">
            <div class="text-dot-container">
              <div class="text-dot" style="background-color: rgba(255, 98, 92);"></div>
              <div class="text-dot" style="background-color: rgba(254, 191, 67);"></div>
              <div class="text-dot" style="background-color: rgba(53, 201, 75);"></div>
            </div>

            <p>app.component.html</p>
          </div>

          <div class="line-container">
            <p class="line-number">1</p>
            <p>{{ firstLineHtml }}</p>
          </div>

          <div class="line-container">
            <p class="line-number">2</p>

            <input
              *ngIf="removeSpaceAndUpperCase(textInputHtml) != removeSpaceAndUpperCase(textCorrectHtml)"
              [(ngModel)]="textInputHtml"
              class="line-one-space-left"
              type="text"
              (focusout)="conclude()"
            >

            <div
              *ngIf="removeSpaceAndUpperCase(textInputHtml) == removeSpaceAndUpperCase(textCorrectHtml)"
              class="container-text-complete line-one-space-left"
            >
              <p class="main-first-text-complete">{{ textCorrectHtml }}</p>
            </div>
          </div>

          <div class="line-container">
            <p class="line-number">3</p>
            <p>{{ thirdLineHtml }}</p>
          </div>

          <div class="line-container">
            <p class="line-number">4</p>
          </div>
        </div>
      </div>
    </div>

    <div [class]="openModal == false ? 'phone-wrapper' : 'phone-wrapper-open'">
      <div class="phone-container">
        <div class="phone-top-container">
          <div class="phone-top">
            <div class="phone-sound"></div>
            <div class="phone-camera"></div>
          </div>
        </div>

        <div class="phone-contents">
          <p
            *ngIf="
              (textInputHtml.length > 0 && removeSpaceAndUpperCase(textInputHtml) != removeSpaceAndUpperCase(textCorrectHtml))
              || (textInput.length > 0 && removeSpaceAndUpperCase(textInput) != removeSpaceAndUpperCase(textCorrect))
            "
          >
            <span class="first-dot">.</span>
            <span class="second-dot">.</span>
            <span class="third-dot">.</span>
          </p>

          <p 
            *ngIf="
              (removeSpaceAndUpperCase(textInputHtml) == removeSpaceAndUpperCase(textCorrectHtml))
              && (removeSpaceAndUpperCase(textInput) == removeSpaceAndUpperCase(textCorrect))
            "
            class="main-ballon-text"
          >
            Olá Mundo!
          </p>
        </div>
      </div>
    </div>

    <div class="text-container-help">
      <div [class]="openModal == false ? 'text-help-animation' : ''"></div>
  
      <div [class]="openModal == false ? 'text-help' : 'text-help-open'">
        <div [class]="openModal == false ? 'text-container-arrow' : 'text-container-arrow-up'" (click)="openHelp()">
          <img
            src="../../../assets/images/arrow-up.png"
            [class]="openModal == false ?  'arrow' : 'arrow-down'"
            width="24"
            height="24"
          >

          <p class="down-description-modal" *ngIf="!openModal">Descrição</p>
          <p class="down-text-modal" *ngIf="openModal">Minimizar</p>
        </div>
  
        <div class="text-contents-modal" *ngIf="openModal">
          <div class="text-modal-help">
            <h3>Interpolation:</h3>
            <br>

            <p>
              A interpolação de texto permite incorporar valores de string dinâmicos 
              em seus modelos HTML. Use a interpolação para alterar dinamicamente o que 
              aparece em uma visualização do aplicativo, como a exibição de uma saudação
              personalizada que inclui um "Olá Mundo".
            </p>
            
            <br>
            <i>
              <b>Ex:</b>
              Declare uma variavel com o nome "texto" e utilize a 
              interpolação escrevendo "<b>{{ textCorrectHtml }}</b>" no html.
            </i>
          </div>

          <div class="gif-modal-help">
            <img class="modal-gif-img" src="../../../../assets/gifs/solution-002.gif">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<status-level></status-level>
