<section>
  <div>
    <img src="../../../assets/images/first-scenery.png" class="scenary" alt="scenery">

    <div
      class="container-font"
      [style.animation]="
        openHelp == false 
          ? 'opacity-help-down 1.6s ease-in-out backwards' 
          : 'opacity-help-open 1s ease-in-out forwards'
      "
    >
      <box-font title="app.component.ts">
        <div class="line-container">
          <p class="line-number">1</p>
          <p class="big-line">{{ firstLine }}</p>
        </div>

        <div class="line-container">
          <p class="line-number">2</p>
          <p class="line-one-space-left">
            <input
              [(ngModel)]="textInput"
              class="first-input"
              type="text"
              (focusout)="conclude()"
              *ngIf="removeSpaceAndUpperCase(textInput) != removeSpaceAndUpperCase(textCorrect)"
            >

            <span
              *ngIf="removeSpaceAndUpperCase(textInput) == removeSpaceAndUpperCase(textCorrect)"
              class="text-complete"
            >
              {{ textCorrect }}
            </span>
            <span>
              {{ secondLine }}
            </span>
          </p>
        </div>

        <div class="line-container">
          <p class="line-number">3</p>
        </div>

        <div class="line-container">
          <p class="line-number">4</p>
          <p class="line-one-space-left">{{ thirdLine }}</p>
        </div>

        <div class="line-container">
          <p class="line-number">5</p>
        </div>

        <div class="line-container">
          <p class="line-number">6</p>
          <p class="line-one-space-left">{{ fourthLine }}</p>
        </div>

        <div class="line-container">
          <p class="line-number">7</p>
          <p >{{ fifthLine }}</p>
        </div>

        <div class="line-container">
          <p class="line-number">8</p>
        </div>
      </box-font>

      <box-font title="app.component.html">
        <div class="line-container">
          <p class="line-number">1</p>
          <p>{{ firstLineHtml }}</p>
        </div>

        <div class="line-container">
          <p class="line-number">2</p>
          <p class="line-one-space-left line-input">
            <input
              *ngIf="removeSpaceAndUpperCase(textInputHtml) != removeSpaceAndUpperCase(textCorrectHtml)"
              [(ngModel)]="textInputHtml"
              class="second-input"
              type="text"
              (focusout)="conclude()"
            >

            <span
              *ngIf="removeSpaceAndUpperCase(textInputHtml) == removeSpaceAndUpperCase(textCorrectHtml)"
              class="text-complete"
            >
              {{ textCorrectHtml }}
            </span>
          </p>
        </div>

        <div class="line-container">
          <p class="line-number">3</p>
          <p>{{ thirdLineHtml }}</p>
        </div>

        <div class="line-container">
          <p class="line-number">4</p>
        </div>
      </box-font>
    </div>

    <div
      [class]="
        openHelp == false 
          ? (
            (removeSpaceAndUpperCase(textInputHtml) == removeSpaceAndUpperCase(textCorrectHtml))
            && (removeSpaceAndUpperCase(textInput) == removeSpaceAndUpperCase(textCorrect))
          ) ? 'phone-wrapper-finish' : 'phone-wrapper'
          : 'phone-wrapper-open'
      "
    >
      <div class="phone-container">
        <div class="phone-top-container">
          <div class="phone-top">
            <div class="phone-sound"></div>
            <div class="phone-camera"></div>
          </div>
        </div>

        <div class="phone-contents">
          <p
            *ngIf="
              (textInputHtml.length > 0 && removeSpaceAndUpperCase(textInputHtml) != removeSpaceAndUpperCase(textCorrectHtml))
              || (textInput.length > 0 && removeSpaceAndUpperCase(textInput) != removeSpaceAndUpperCase(textCorrect))
            "
          >
            <span class="first-dot">.</span>
            <span class="second-dot">.</span>
            <span class="third-dot">.</span>
          </p>

          <p 
            *ngIf="
              (removeSpaceAndUpperCase(textInputHtml) == removeSpaceAndUpperCase(textCorrectHtml))
              && (removeSpaceAndUpperCase(textInput) == removeSpaceAndUpperCase(textCorrect))
            "
            class="main-ballon-text"
          >
            Olá Mundo!
          </p>
        </div>
      </div>
    </div>

    <box-congrats
      level="1"
      [open]="
        removeSpaceAndUpperCase(textInput) == removeSpaceAndUpperCase(textCorrect)
        && removeSpaceAndUpperCase(textInputHtml) == removeSpaceAndUpperCase(textCorrectHtml)
      "
    >
    </box-congrats>

    <box-help level="1" (open)="openHelp = $event"></box-help>

    <status-level level="1"></status-level>
  </div>
</section>
