<section>
  <div>
    <img src="../../../assets/images/first-scenery.png" class="scenary" alt="scenery">

    <div
      class="container-font"
      [style.animation]="
        openHelp == false 
          ? 'opacity-help-down 1.6s ease-in-out backwards' 
          : 'opacity-help-open 1s ease-in-out forwards'
      "
    >
      <box-font title="app.component.ts">
        <div class="line-container">
          <p class="line-number">1</p>
          <p class="big-line">{{ oneLineTS }}</p>
        </div>

        <div class="line-container">
          <p class="line-number">2</p>
          <p class="line-one-space-left">{{ twoLineTS }}</p>
        </div>

        <div class="line-container">
          <p class="line-number">3</p>
          <p>{{ threeLineTS }}</p>
        </div>

        <div class="line-container">
          <p class="line-number">4</p>
          <p class="line-one-space-left">{{ fourLineTS }}</p>
        </div>

        <div class="line-container">
          <p class="line-number">5</p>
          <p>{{ fiveLineTS }}</p>
        </div>

        <div class="line-container">
          <p class="line-number">6</p>
          <p class="line-one-space-left">{{ sixLineTS }}</p>
        </div>

        <div class="line-container">
          <p class="line-number">7</p>
          <p>{{ sevenLineTS }}</p>
        </div>

        <div class="line-container">
          <p class="line-number">8</p>
          <p>{{ eightLineTS }}</p>
        </div>
      </box-font>

      <div>
        <box-font title="app.component.html">
          <div class="line-container">
            <p class="line-number">1</p>
            <p>{{ oneLineHTML }}</p>
          </div>

          <div class="line-container">
            <p class="line-number">2</p>
            <p class="line-one-space-left">{{ twoLineHTML }}</p>
          </div>

          <div class="line-container">
            <p class="line-number">3</p>
            <p>{{ threeLineHTML }}</p>
          </div>

          <div class="line-container">
            <p class="line-number">4</p>
            <p class="line-one-space-left">{{ fourLineHTML }}</p>
          </div>

          <div class="line-container">
            <p class="line-number">5</p>
            <p class="line-two-space-left">{{ fiveLineHTML }}</p>
          </div>

          <div class="line-container">
            <p class="line-number">6</p>
            <p class="line-two-space-left">{{ sixLineHTML }}</p>
          </div>

          <div class="line-container">
            <p class="line-number">7</p>
            <p class="line-two-space-left line-input">
              <input
                type="text"
                class="input-width"
                *ngIf="removeSpaceAndUpperCase(textInputHTML) != removeSpaceAndUpperCase(textCorrectHTML)"
                [(ngModel)]="textInputHTML"
                (focusout)="conclude()"
              >

              <span
                class="text-complete"
                *ngIf="removeSpaceAndUpperCase(textInputHTML) == removeSpaceAndUpperCase(textCorrectHTML)"
              >
                {{ textCorrectHTML }}
              </span>

              {{ sevenLineHTML }}
            </p>
          </div>

          <div class="line-container">
            <p class="line-number">8</p>
            <p class="line-one-space-left">{{ eightLineHTML }}</p>
          </div>
          
          <div class="line-container">
            <p class="line-number">9</p>
            <p>{{ nineLineHTML }}</p>
          </div>

          <div class="line-container">
            <p class="line-number">10</p>
            <p>{{ tenLineHTML }}</p>
          </div>
        </box-font>

        <box-font title="app.component.css">
          <div class="line-container">
            <p class="line-number">1</p>
            <p>{{ oneLineCSS }}</p>
          </div>

          <div class="line-container">
            <p class="line-number">2</p>
            <p class="line-one-space-left">{{ twoLineCSS }}</p>
          </div>

          <div class="line-container">
            <p class="line-number">3</p>
            <p>{{ threeLineCSS }}</p>
          </div>

          <div class="line-container">
            <p class="line-number">4</p>
            <p>{{ fourLineCSS }}</p>
          </div>
        </box-font>
      </div>
    </div>

    <div
      [class]="
        openHelp == false
          ? removeSpaceAndUpperCase(textInputHTML) == removeSpaceAndUpperCase(textCorrectHTML) ? 'phone-wrapper-finish' : 'phone-wrapper'
          : 'phone-wrapper-open'
      "
    >
      <div class="phone-container">
        <div class="phone-top-container">
          <div class="phone-top">
            <div class="phone-sound"></div>
            <div class="phone-camera"></div>
          </div>
        </div>

        <div class="phone-contents">
          <p class="main-ballon-text">
            {{ textPhone }}
          </p>

          <input
            [placeholder]="fiveLineHTML"
            [class.success]="true"
            *ngIf="removeSpaceAndUpperCase(textInputHTML) != removeSpaceAndUpperCase(textCorrectHTML)"
          >

          <input
            [placeholder]="fiveLineHTML"
            [class.success]="true"
            [(ngModel)]="textPhone"
            *ngIf="removeSpaceAndUpperCase(textInputHTML) == removeSpaceAndUpperCase(textCorrectHTML)"
          >
        </div>
      </div>
    </div>

    <box-congrats
      level="4"
      [open]="removeSpaceAndUpperCase(textInputHTML) == removeSpaceAndUpperCase(textCorrectHTML)"
    >
    </box-congrats>

    <box-help level="4" (open)="openHelp = $event"></box-help>

    <status-level level="4"></status-level>
  </div>
</section>
