<div
  class="wrapper-modal-next"
  *ngIf="
    removeSpaceAndUpperCase(textInput) == removeSpaceAndUpperCase(textCorrect)
    && removeSpaceAndUpperCase(textInputHtml) == removeSpaceAndUpperCase(textCorrectHtml)
  "
>
  <div class="modal-next">
    <h2>Parabéns!!</h2>
    <p>Conseguimos exibir "Olá mundo" na tela utilizando a interpolação.</p>
    <button [routerLink]="['/games/introduction/second']">Próximo desafio</button>
  </div>
</div>

<section>
  <img src="../../../assets/images/first-scenery.png" class="scenary" alt="scenery">

  <div class="wrapper">
    <div class="text-wrapper">
      <div [class]="openModal == false ? 'text-container' : 'text-container-open'">
        <div class="text-square">
          <div class="text-title-container">
            <div class="text-dot-container">
              <div class="text-dot" style="background-color: rgba(255, 98, 92);"></div>
              <div class="text-dot" style="background-color: rgba(254, 191, 67);"></div>
              <div class="text-dot" style="background-color: rgba(53, 201, 75);"></div>
            </div>

            <p>app.component.ts</p>
          </div>

          <div class="line-container margin-bottom">
            <p class="line-number">1</p>
            <p>Lorem ipsum Lorem ipsum </p>
          </div>
        </div>

        <div class="text-square">
          <div class="text-title-container">
            <div class="text-dot-container">
              <div class="text-dot" style="background-color: rgba(255, 98, 92);"></div>
              <div class="text-dot" style="background-color: rgba(254, 191, 67);"></div>
              <div class="text-dot" style="background-color: rgba(53, 201, 75);"></div>
            </div>

            <p>app.component.html</p>
          </div>

          <div class="line-container margin-bottom">
            <p class="line-number">1</p>
            <p>Lorem ipsum Lorem ipsum </p>
          </div>
        </div>
      </div>
    </div>

    <div [class]="openModal == false ? 'phone-wrapper' : 'phone-wrapper-open'">
      <div class="phone-container">
        <div class="phone-top-container">
          <div class="phone-top">
            <div class="phone-sound"></div>
            <div class="phone-camera"></div>
          </div>
        </div>

        <div class="phone-contents">
          <p
            *ngIf="
              (textInputHtml.length > 0 && removeSpaceAndUpperCase(textInputHtml) != removeSpaceAndUpperCase(textCorrectHtml))
              || (textInput.length > 0 && removeSpaceAndUpperCase(textInput) != removeSpaceAndUpperCase(textCorrect))
            "
          >
            <span class="first-dot">.</span>
            <span class="second-dot">.</span>
            <span class="third-dot">.</span>
          </p>

          <p class="main-ballon-text">
            Olá Mundo!
          </p>
          <p 
            *ngIf="
              (removeSpaceAndUpperCase(textInputHtml) == removeSpaceAndUpperCase(textCorrectHtml))
              && (removeSpaceAndUpperCase(textInput) == removeSpaceAndUpperCase(textCorrect))
            "
            class="main-ballon-text"
          >
            Olá Mundo!
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="status-level">
    <div class="text-container-help">
      <div [class]="openModal == false ? 'text-help-animation' : ''"></div>
  
      <div [class]="openModal == false ? 'text-help' : 'text-help-open'">
        <div [class]="openModal == false ? 'text-container-arrow' : 'text-container-arrow-up'" (click)="openHelp()">
          <img
            src="../../../assets/images/arrow-up.png"
            [class]="openModal == false ?  'arrow' : 'arrow-down'"
            width="24"
            height="24"
          >

          <p class="down-description-modal" *ngIf="!openModal">Descrição</p>
          <p class="down-text-modal" *ngIf="openModal">Minimizar</p>
        </div>
  
        <div class="text-contents-modal" *ngIf="openModal">
          <div class="text-modal-help">
            <h3>Lorem ipsum Lorem ipsum:</h3>
            <br>

            <p>
              Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
              Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
              Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
            </p>
            
            <br>
            <i>
              <b>Ex:</b>
              Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
              Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
            </i>
          </div>

          <div class="gif-modal-help">
            <img class="modal-gif-img" src="">
          </div>
        </div>
      </div>
    </div>

    <div [routerLink]="['/games/introduction']" class="status-level-one">1 - Interpolation</div>
    <div [routerLink]="['/games/introduction/second']" class="status-level-two">2 - Property Binding</div>
    <div [routerLink]="['/games/introduction/third']" class="status-level-three">3 - Class Binding</div>
    <div [routerLink]="['/games/introduction/fourth']" class="status-level-four">4 - Style Binding</div>
    <div [routerLink]="['/games/introduction/fifth']" class="status-level-five">5 - Event Binding</div>
  </div>
</section>
