<nav>
  <img class="home" [routerLink]="['/']" src="../../assets/images/logo.png" alt="">

  <div class="container-login" *ngIf="auth.user$ | async as user; else login">
    <img class="image-login" [routerLink]="['/']" [src]="user.photoURL" alt="">
  
    <div class="container-text-login">
      <p>Olá <span>{{ user.displayName }}</span></p>
      <p class="sign-out" (click)="auth.signOut()">sair</p>
    </div>
  </div>

  <div class="mute-toggle" (click)="onClick()">
    <audio #audioOption>
      <source src="../../assets/music/Love Letters - Aaron Kenny.mp3" type="audio/mp3">
    </audio>

    <svg width="30px" height="21px" viewBox="0 0 30 21" version="1.1" xmlns="http://www.w3.org/2000/svg" class="mute mute-on">
      <g id="exports" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="mute">
          <polygon id="speaker-dark" fill="#000000" points="6.68042718 6.5 15.9661415 0 15.9661415 21 6.68042718 14.5 0 14.5 0 6.5"></polygon>
          <polygon id="speaker" fill="#FFFFFF" points="6.68042718 6.5 15.9661415 0 15.9661415 21 6.68042718 14.5 0 14.5 0 6.5"></polygon>
          
          <g id="mute-x-dark" transform="translate(20.000000, 6.000000)" stroke="#000000" stroke-linecap="round" *ngIf="mute">
            <g id="Group-3">
              <path d="M0.5,0.5 L9.01469318,9.01469318" id="Line-4"></path>
            </g>
            <g id="Group-2" transform="translate(0.500000, 0.500000)">
              <path d="M8.51000977,0 L0,8.51469318" id="Line-4"></path>
            </g>
          </g>
        
          <g id="mute-x" transform="translate(20.000000, 6.000000)" stroke="#FFFFFF" stroke-linecap="round" *ngIf="mute">
            <g id="Group-3">
              <path d="M0.5,0.5 L9.01469318,9.01469318" id="Line-4"></path>
            </g>
            <g id="Group-2" transform="translate(0.500000, 0.500000)">
              <path d="M8.51000977,0 L0,8.51469318" id="Line-4"></path>
            </g>
          </g>
        </g>
      </g>
    </svg>
  </div>

  <ng-template #login>
    <div class="container-sign-in">
      <img class="google-icon" height="18" src="../../assets/images/google.png" alt="">
  
      <a class="text-sign-in" (click)="auth.googleSignIn()">Entrar</a>
    </div>
  </ng-template>
</nav>
