nav {
    height: 4vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    border-radius: 5px 5px 0 0;
    padding: 0 8px 10px 8px;
}

img {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}
