nav {
  height: 1.2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  border-radius: .5em .5em 0 0;
  padding: 1.3em .8em .8em .8em;
  margin-bottom: 1em;
}

.home {
  cursor: pointer;
  height: 4em;
}

a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.container-login {
  display: flex;
  align-items: center;
}

.image-login {
  border-radius: 5em;
  margin-right: .5em;
  height: 2.3em;
}

.container-text-login {
  cursor: default;
}

.sign-out {
  font-size: small;
  cursor: pointer;
  color: gray;
}

.sign-out:hover {
  color: #D32F2F;
}

.container-sign-in {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: .6em;
}

.text-sign-in:hover {
  background-color: #1976d2;
  border-top-right-radius: .6em;
  border-bottom-right-radius: .6em;
}

.google-icon {
  padding: .4em .6em .5em 1em;
  border-right: 1px rgba(255, 255, 255, 0.2) solid;
}

.text-sign-in {
  padding: .4em 1em .5em .6em;
}

.mute-toggle {
  position: fixed;
  left: .4em;
  bottom: 1.2em;
  z-index: 100;
  opacity: .5;
  will-change: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  cursor: pointer;
}


@media only screen and (max-width: 760px) {
  .mute-toggle {
    display: none;
  }
}