footer {
    height: 1em;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 .5em .5em;
    text-align: center;
    padding: .5em;
}

@media only screen and (max-width: 760px) {
    footer {
        height: 2.2em;
    }
}
