h1 {
  font-size: 3.8em;
  text-shadow: 0 0 20px rgb(192 219 255 / 48%), 0 0 8px rgb(65 120 255 / 24%);
  margin-bottom: .2em;
  z-index: 9;
}

h3 {
  font-weight: 500;
  z-index: 9;
}

button {
  padding: 1em 2em;
  cursor: pointer;
  display: inline-block;
  outline-style: none;
  line-height: 1;
  border: 0;
  border-radius: .2em;
  font-weight: 700;
  box-shadow: rgba(0, 0, 0, 0.15) 0 0 0 .1em inset;
  background: linear-gradient(-45deg, #0d47a1, #1976d2);
    background-size: 100% 100%;
    animation: gradient 15s ease infinite;
  z-index: 9;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.third-wrapper {
  height: 45em; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.third-background {
  position: absolute;
  height: 45em;
  width: 100%;
  opacity: 0.08;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.third-container {
  width: 80%;
  text-align: center;
  z-index: 9;
}

.third-text {
  text-align: justify;
  z-index: 9;
}

.third-container-square {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 6vh;
  z-index: 9;
}

.third-square {
  height: 16em;
  width: 30em;
  margin: .2em .9em 0 .9em;
  border-radius: .3em;
  background-color:#fff;
  z-index: 9;
}
  
@media only screen and (max-width: 760px) {
  h1 {
    font-size: 2.5em;
    margin-bottom: .3em;
  }

  .third-container-square {
    display: grid;
  }
  
  .third-square {
    height: 16em;
    width: 18em;
    margin: .5em 0;
  }

  .third-wrapper {
    height: 60em;
  }
  
  .third-background {
    height: 60em;
  }
}
  