<div class="third-wrapper">
  <img src="../../../assets/images/background.jpg" class="third-background">

  <div class="third-container">
    <h1>Nossa missão</h1>

    <h3>Tornando o aprendizado de código mais eficiente, interessante e divertido.</h3>

    <div class="wrapper-text">
      <div class="container-text">
        <p>
          Olá, meu nome é Jackson. Sou o fundador do Angular Fantasy. Eu programo há mais de 7 anos e aprendi a codificar usando métodos tradicionais.<br>
        </p>
        <p>
          Eu me lembro daqueles dias. Quantas vezes me forcei a sentar e aprender a programar. Como artigos e documentação me pareciam enfadonhos. O quanto me faltou prática e por causa desse conhecimento rapidamente desapareceu. Aprender não deveria ser assim, então decidi mudar.
        </p>
        <p>
          Comecei com os fundamentos e estudei como nosso cérebro aprende. A neurociência diz que o aprendizado eficaz requer (1) muita prática e (2) um senso de que o aprendizado é envolvente. Exatamente o que costuma ser esquecido nas formas tradicionais de aprendizagem. Exatamente por isso que tive dificuldade em aprender a programar. E exatamente o que precisava ser mudado.
        </p>
        <p>
          Criei Angular Fantasy como uma maneira nova e mais eficiente de aprender código. Os jogos são uma das melhores combinações de (1) prática e (2) um ambiente de aprendizagem envolvente. Eles são o próximo passo lógico da educação tradicional. Eles são o futuro da aprendizagem. E minha missão e missão do Angular Fantasy é fazer desse futuro nossa realidade.
        </p>
      </div>
    </div>
  </div>
</div>
