.third-wrapper {
  height: 33em; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.third-background {
  position: absolute;
  height: 33em;
  width: 100%;
  opacity: 0.08;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.third-container {
  width: 80%;
  text-align: center;
  z-index: 9;
  margin-top: 2em;
}

.wrapper-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-text {
  width: 60%;
  text-align: justify;
  margin: .9em 0 3em 0;
}

p {
  margin-bottom: .6em;
}
  
@media only screen and (max-width: 760px) {
  .third-wrapper {
    height: 60em;
  }
  
  .third-background {
    height: 60em;
  }

  .third-container {
    width: 90%;
  }
  .container-text {
    width: 85%;
  }
}
  