.fourth-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5em 0;
}

.fourth-container {
  width: 80%;
  text-align: center;
}

.fourth-container button {
  margin-top: 3em;
}
