.success {
  border: 2px solid var(--color-blue);
}

.success:hover {
  border: 2px solid var(--color-blue-dark);
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

section > div {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-width: 1366px;
}

.scenary {
  position: absolute;
  background-repeat: no-repeat;
  width: 100%;
  height: 85%;
  opacity: .2;
  z-index: 0;
}

.container-font {
  min-height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.line-container {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-bottom: .5em;
  min-height: 1.1em;
  color: var(--color-grey);
}

.line-number {
  margin-right: .9em;
  color: var(--color-grey);
  font-weight: 600;
  z-index: 9;
}

.big-line {
  width: 27em;
}

.line-input {
  width: 23em;
}

.line-one-space-left {
  margin-left: 15px;
}

.line-two-space-left {
  margin-left: 30px;
}

.text-complete {
  color: var(--color-blue-dark) !important;
  margin-left: .3em;
  margin-right: -1.5em;
}

input {
  height: 1.8em;
  width: 94%;
  background-color: var(--color-grey-light);
}

.input-width {
  width: 4em;
  margin: 0 -1em 0 .5em;
  background-color: var(--color-grey);
}

.main-ballon-text {
  color: var(--color-grey);
  font-weight: 900;
  margin-bottom: .6em;
  margin-left: .05em;
  z-index: 9;
}

.secondary-ballon-text {
  color: var(--color-grey);
  margin-bottom: .5em;
  z-index: 9;
}

.link-ballon-text {
  color: var(--color-blue);
  cursor: pointer;
}

.link-ballon-text:hover {
  color: var(--color-blue-dark);
}

.container-button-phone {
  text-align: right;
}

.button-phone {
  margin-top: 1em;
  margin-bottom: 1em;
}

.phone-wrapper {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  animation: opacity-help-down 1.6s ease-in-out backwards;
}

.phone-wrapper-open {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  animation: opacity-help-open 1s ease-in-out forwards;
}

.phone-wrapper-finish {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 7;
  animation: opacity-help-down 1.6s ease-in-out backwards;
}

.phone-container {
  height: 31em;
  width: 16em;
  background-color: var(--color-white);
  border-radius: 3em;
  z-index: 2;
  display: inline-block;
  border: .9em solid var(--color-grey-light);
  display: grid;
  justify-content: center;
}

.phone-top-container {
  display: flex;
  justify-content: center;
}

.phone-top {
  background-color: var(--color-grey-light);
  width: 8em;
  height: 1.3em;
  position: absolute;
  margin-top: -.4em;
  border-radius: 0 0 1em 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone-sound {
  width: 2.5em;
  height: .3em;
  border-radius: .3em;
  margin-right: .5em;
  opacity: .6;
  background-color: var(--color-grey);
}

.phone-camera {
  width: .3em;
  height: .3em;
  border-radius: .3em;
  opacity: .6;
  background-color: var(--color-grey);
}

.phone-contents {
  width: 14em;
  height: 27em;
  margin-top: 1em;
  word-wrap: break-word;
}

.first-dot {
  animation: dot-loading 1s ease-in-out infinite;
  z-index: 9;
  font-size: xx-large;
}

.second-dot {
  animation: dot-loading 1.001s ease-in-out infinite;
  z-index: 9;
  font-size: xx-large;
}

.third-dot {
  animation: dot-loading 1.002s ease-in-out infinite;
  z-index: 9;
  font-size: xx-large;
}

@keyframes dot-loading {
  0% {
    color: var(--color-blue);
  }
  50% {
    color: var(--color-white);
  }
  100% {
    color: var(--color-blue-dark);
  }
}

@keyframes opacity-help-open {
  0% {
    opacity: 1;
  }
  100% {
    opacity: .3;
  }
}

@keyframes opacity-help-down {
  0% {
    opacity: .3;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (min-width: 1366px) {
  section {
    min-height: 88%;
  }
}

@media only screen and (max-width: 750px) {
  section {
    min-height: 100%;
    margin: 2em 0 5em 0;
    align-items: flex-start;
  }

  .phone-wrapper {
    display: none;
  }

  .phone-wrapper-open {
    display: none;
  }

  .phone-wrapper-finish {
    display: none;
  }

  .container-font {
    display: grid;
  }
}
