.success {
  border: 2px solid rgba(53, 201, 75);
}

.wrapper-modal-next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: -4.2em;
  position: fixed;
  left: 0;
  background-color: rgba(0, 0, 0, 0.674);
  z-index: 3;
  animation: modal-next .6s ease-in-out forwards;
}

.modal-next {
  text-align: center;
  color: var(--color-grey);
  background-color: var(--color-white);
  border-radius: 2.4em;
  z-index: 21;
  max-width: 30%;
  padding: 1.5em;
  animation: modal-next-dialog 1s ease-in-out forwards;
}

.modal-next h2 {
  animation: modal-next-dialog 1s ease-in-out forwards;
}

.modal-next p {
  animation: modal-next-dialog 1s ease-in-out forwards;
  margin-bottom: 1em;
}

.modal-next button {
  animation: modal-next-dialog 1s ease-in-out forwards;
}

@keyframes modal-next {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes modal-next-dialog {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 78%;
  overflow: hidden;
}

.scenary {
  position: absolute;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  opacity: .2;
  z-index: 0;
}

.wrapper {
  height: 100%;
  width: 100%;
  max-width: 1366px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
  z-index: 2;
}

.text-wrapper {
  height: 80%;
  width: 70%;
  z-index: 2;
}

.text-container {
  min-height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: opacity-help-down 1.6s ease-in-out backwards;
  z-index: 2;
}

.text-container-open {
  min-height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: .3;
  animation: opacity-help-open 1s ease-in-out forwards;
  z-index: 2;
}

.text-square {
  min-width: 26em;
  background-color: var(--color-white);
  margin: 1em;
  border-radius: .3em;
  z-index: 2;
}

.text-title-container {
  background-color: var(--color-grey);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 .4em;
  height: 1.2em;
  border-radius: .3em .3em 0 0;
  z-index: 2;
}

.text-dot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.text-dot {
  height: .5em;
  width: .5em;
  border-radius: 1em;
  margin-left: .2em;
  background-color: var(--color-white);
  z-index: 2;
}

.line-container {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: .5em 0;
  padding: 0 .5em;
  min-height: 1.1em;
  color: var(--color-grey);
}

.line-number {
  margin-right: .9em;
  color: rgb(90, 90, 90);
  font-weight: 600;
  z-index: 9;
  width: 1em;
}

.line-one-space-left {
  margin-left: 15px;
}

.line-two-space-left {
  margin-left: 30px;
}

.container-text-complete {
  display: flex;
  align-items: center;
  z-index: 9;
}

.main-first-text-complete {
  color: var(--color-blue-dark) !important;
  z-index: 9;
}

input {
  height: 1.8em;
  
}

.input-width {
  width: 4em;
  margin: 0 -1em 0 .5em;
}

.main-ballon-text {
  color: var(--color-grey);
  font-weight: 900;
  margin-bottom: 1.1em;
  z-index: 9;
}

.secondary-ballon-text {
  color: var(--color-grey);
  margin-bottom: .5em;
  z-index: 9;
}

.link-ballon-text {
  color: var(--color-blue-dark);
  cursor: pointer;
}

.link-ballon-text:hover {
  color: var(--color-blue);
}

.button-phone {
  margin-top: 1em;
  margin-bottom: 1em;
}

.text-container-help {
  max-width: 70%;
  min-width: 40%;
  position: absolute;
  border-radius: .5em .5em 0 0;
  border: 1px solid var(--color-grey-light);
  bottom: .9em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
  z-index: 2;
  animation: opacity-arrow-down 1.6s ease-in-out forwards;
  -webkit-touch-callout: none;
  height:auto;
  overflow:hidden;
}

.text-help-animation {
  display: flex;
  z-index: 3;
  animation: loop-help 1.4s 2s ease-in-out infinite;
}

.text-help {
  height: 3.8em;
  margin: 0 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
  z-index: 3;
  animation: loop-help-down 1.6s ease-in-out forwards;
}

.text-help-open {
  height: 30em;
  border-radius: .5em .5em 0 0;
  display: flex;
  justify-content: center;
  padding: 1em;
  background-color: var(--color-white);
  z-index: 2;
  animation: loop-help-open 1s ease-in-out backwards;
}

.text-container-arrow {
  color: var(--color-grey);
  height: 90%;
  padding-top: .4em;
  font-weight: 700;
  font-style: italic;
  font-size: small;
  cursor: pointer;
  text-align: center;
  animation: opacity-arrow-down 1.6s 1s ease-in-out backwards;
  -webkit-touch-callout: none;
}

.text-container-arrow-up {
  color: var(--color-grey);
  height: 90%;
  padding-top: .4em;
  font-weight: 700;
  font-style: italic;
  font-size: small;
  cursor: pointer;
  text-align: center;
  animation: opacity-arrow-down 1.6s 1s ease-in-out backwards;
  -webkit-touch-callout: none;
}

.arrow {
  animation: opacity-arrow-down 1.6s ease-in-out backwards;
}

.down-description-modal {
  animation: opacity-arrow-down 1.6s ease-in-out backwards;
  margin-top: -.5em;
}

.arrow-down {
  margin-right: .5em;
  transform: rotate(180deg);
  animation: rotation-arrow  1s ease-in-out backwards;
}

@keyframes rotation-arrow {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(180deg);
  }
}

.down-text-modal {
  transform: rotate(-90deg);
  margin: 2.5em .8em 0 0;
  font-size: small;
  color: var(--color-grey-light);
  animation: opacity-arrow-down 1.6s ease-in-out backwards;
}

.text-contents-modal {
  animation: opacity-arrow-down 1.6s 1s ease-in-out backwards;
  color: var(--color-grey);
  display: grid;
  padding-right: .3em;
  overflow: auto;
}

.text-modal-help {
  width: 100%;
  text-align: justify;
  margin-top: .4em;
}

.gif-modal-help {
  width: 100%;
  display: flex;
  margin-top: 1em;
  justify-content: center;
  align-items: center;
  -webkit-touch-callout: none;  
}

.modal-gif-img {
  max-height: 300px;
  max-width: 500px;
  -webkit-touch-callout: none; 
}

.phone-wrapper {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
  animation: opacity-help-down 1.6s ease-in-out backwards;
}

.phone-wrapper-open {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  animation: opacity-help-open 1s ease-in-out forwards;
}

.phone-container {
  height: 31em;
  width: 16em;
  background-color: var(--color-white);
  border-radius: 3em;
  z-index: 2;
  display: inline-block;
  border: .9em solid var(--color-grey-light);
  display: grid;
  justify-content: center;
}

.phone-top-container {
  display: flex;
  justify-content: center;
}

.phone-top {
  background-color: var(--color-grey-light);
  width: 8em;
  height: 1.3em;
  position: absolute;
  margin-top: -.4em;
  border-radius: 0 0 1em 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone-sound {
  width: 2.5em;
  height: .3em;
  border-radius: .3em;
  margin-right: .5em;
  opacity: .6;
  background-color: var(--color-grey);
}

.phone-camera {
  width: .3em;
  height: .3em;
  border-radius: .3em;
  opacity: .6;
  background-color: var(--color-grey);
}

.phone-contents {
  width: 14em;
  height: 27em;
  margin-top: -1em;
  word-wrap: break-word;
}

.first-dot {
  animation: dot-loading 1s ease-in-out infinite;
  z-index: 9;
  font-size: xx-large;
}

.second-dot {
  animation: dot-loading 1.001s ease-in-out infinite;
  z-index: 9;
  font-size: xx-large;
}

.third-dot {
  animation: dot-loading 1.002s ease-in-out infinite;
  z-index: 9;
  font-size: xx-large;
}

@keyframes dot-loading {
  0% {
    color: var(--color-blue);
  }
  50% {
    color: var(--color-white);
  }
  100% {
    color: var(--color-blue-dark);
  }
}

@keyframes loop-help {
  0% {
    height: 3.8em;
  }
  50% {
    height: 4em;
  }
  100% {
    height: 3.8em;
  }
}

@keyframes loop-help-open {
  0% {
    height: 3.8em;
  }
  100% {
    height: 30em;
  }
}

@keyframes loop-help-down {
  0% {
    height: 30em;
  }
  100% {
    height: 3.8em;
  }
}

@keyframes opacity-help-open {
  0% {
    opacity: 1;
  }
  100% {
    opacity: .3;
  }
}

@keyframes opacity-help-down {
  0% {
    opacity: .3;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity-arrow-down {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@media only screen and (min-width: 1366px) {
  section {
    min-height: 88%;
  }

  .phone-sound {
    width: 2.5em;
    height: .3em;
    border-radius: .3em;
    margin-right: .5em;
    opacity: .6;
    background-color: var(--color-grey);
  }
  
  .phone-camera {
    width: .4em;
    height: .3em;
    border-radius: .3em;
    opacity: .6;
    background-color: var(--color-grey);
  }
}

@media only screen and (max-width: 750px) {
  .wrapper-modal-next {
    height: 100%;
    margin-top: -40.3em;
    position: fixed;
  }
  
  .modal-next {
    max-width: 60%;
    position: fixed;
  }
  
  section {
    min-height: 90%;
    margin-top: 2em;
    align-items: flex-start;
  }

  .text-modal-next {
    width: 90%;
  }

  .wrapper {
    padding-top: 0em;
    padding-bottom: 4em;
  }

  .text-container-help {
    max-width: 85%;
    min-width: 85%;
    bottom: 2.8em;
    position: fixed;
  }

  .text-contents-modal {
    padding-right: 0;
  }

  .text-modal-help {
    width: 90%;
  }

  .text-help-open {
    height: 15em;
  }

  .text-container-arrow {
    color: var(--color-grey);
    height: 90%;
    padding-top: .4em;
    font-weight: 700;
    font-style: italic;
    font-size: small;
    cursor: pointer;
    text-align: center;
    animation: opacity-arrow-down 1.6s 1s ease-in-out backwards;
    -webkit-touch-callout: none;
  }

  .text-container-arrow-up {
    width: 14%;
    color: var(--color-grey);
    height: 90%;
    padding-top: .4em;
    font-weight: 700;
    font-style: italic;
    font-size: small;
    cursor: pointer;
    text-align: center;
    animation: opacity-arrow-down 1.6s 1s ease-in-out backwards;
    -webkit-touch-callout: none;
  }

  .down-text-modal {
    margin-top: 3.8em;
  }

  .modal-gif-img {
    max-height: 150px;
    max-width: 300px;
    margin-right: 12px;
  }

  .text-square {
    min-width: 19em;
    margin: .4em;
  }

  .phone-wrapper {
    display: none;
  }

  .phone-wrapper-open {
    display: none;
  }

  .text-container {
    display: grid;
  }

  .text-container-open {
    display: grid;
  }
}

@media only screen and (max-width: 420px) {
  .wrapper-modal-next {
    height: 100%;
    margin-top: -29.3em;
    position: fixed;
  }

  .text-help-open {
    height: 30em;
  }
}
