<section>
  <div>
    <img src="../../../assets/images/first-scenery.png" class="scenary" alt="scenery">

    <div class="wrapper">
      <div class="text-wrapper">
        <div [class]="openHelp == false ? 'text-container' : 'text-container-open'">
          <div class="text-square">
            <div class="text-title-container">
              <div class="text-dot-container">
                <div class="text-dot" style="background-color: rgba(255, 98, 92);"></div>
                <div class="text-dot" style="background-color: rgba(254, 191, 67);"></div>
                <div class="text-dot" style="background-color: rgba(53, 201, 75);"></div>
              </div>

              <p>app.component.ts</p>
            </div>

            <div class="line-container">
              <p class="line-number">1</p>
              <p>{{ oneLineTS }}</p>
            </div>
            <div class="line-container">
              <p class="line-number">2</p>
              <p class="line-one-space-left">{{ twoLineTS }}</p>
            </div>

            <div class="line-container">
              <p class="line-number">3</p>
              <p>{{ threeLineTS }}</p>
            </div>

            <div class="line-container">
              <p class="line-number">4</p>
              <p class="line-one-space-left">{{ fourLineTS }}</p>
            </div>

            <div class="line-container">
              <p class="line-number">5</p>
              <p>{{ fiveLineTS }}</p>
            </div>

            <div class="line-container">
              <p class="line-number">6</p>
              <p class="line-one-space-left">{{ sixLineTS }}</p>
            </div>

            <div class="line-container">
              <p class="line-number">7</p>
              <p>{{ sevenLineTS }}</p>
            </div>

            <div class="line-container">
              <p class="line-number">8</p>
              <p class="line-one-space-left">{{ eightLineTS }}</p>
            </div>

            <div class="line-container">
              <p class="line-number">9</p>
              <p class="line-two-space-left">{{ nineLineTS }}</p>
            </div>
            
            <div class="line-container">
              <p class="line-number">10</p>
              <p class="line-one-space-left">{{ tenLineTS }}</p>
            </div>

            <div class="line-container">
              <p class="line-number">11</p>
              <p>{{ elevenLineTS }}</p>
            </div>
          </div>

          <div>
            <div class="text-square">
              <div class="text-title-container">
                <div class="text-dot-container">
                  <div class="text-dot" style="background-color: rgba(255, 98, 92);"></div>
                  <div class="text-dot" style="background-color: rgba(254, 191, 67);"></div>
                  <div class="text-dot" style="background-color: rgba(53, 201, 75);"></div>
                </div>
    
                <p>app.component.html</p>
              </div>
    
              <div class="line-container">
                <p class="line-number">1</p>
                <p>{{ oneLineHTML }}</p>
              </div>
    
              <div class="line-container">
                <p class="line-number">2</p>
                <p class="line-one-space-left">{{ twoLineHTML }}</p>
              </div>
    
              <div class="line-container">
                <p class="line-number">3</p>
                <p>{{ threeLineHTML }}</p>
              </div>
    
              <div class="line-container">
                <p class="line-number">4</p>
                <p class="line-one-space-left">{{ fourLineHTML }}</p>
              </div>
    
              <div class="line-container">
                <p class="line-number">5</p>
                <p class="line-two-space-left">{{ fiveLineHTML }}</p>
              </div>
    
              <div class="line-container">
                <p class="line-number">6</p>
                <p class="line-two-space-left">{{ sixCorrectLineHTML }}</p>
              </div>

              <div class="line-container">
                <p class="line-number">7</p>
                <p class="line-two-space-left">{{ sevenLineHTML }}</p>
              </div>

              <div class="line-container">
                <p class="line-number">8</p>
                <p class="line-one-space-left">{{ eightLineHTML }}</p>
              </div>
              
              <div class="line-container">
                <p class="line-number">9</p>
                <p>{{ nineLineHTML }}</p>
              </div>

              <div class="line-container">
                <p class="line-number">10</p>

                <p *ngIf="removeSpaceAndUpperCase(textInputHTML) != removeSpaceAndUpperCase(textCorrectHTML)">
                  <span class="line-one-space-left">{{ tenPartyOneLineHTML }}</span>
                  <input class="input-width" [(ngModel)]="textInputHTML" type="text" (focusout)="conclude()">
                  <span class="line-one-space-left">{{ tenPartyTwoLineHTML }}</span>
                </p>

                <p
                  *ngIf="removeSpaceAndUpperCase(textInputHTML) == removeSpaceAndUpperCase(textCorrectHTML)"
                  class="line-one-space-left"
                >
                  {{ tenCorrectLineHTML }}
                </p>
              </div>
              
              <div class="line-container">
                <p class="line-number">11</p>
                <p>{{ elevenLineHTML }}</p>
              </div>

              <div class="line-container">
                <p class="line-number">12</p>
                <p>{{ twelveLineHTML }}</p>
              </div>
            </div>

            <div class="text-square">
              <div class="text-title-container">
                <div class="text-dot-container">
                  <div class="text-dot" style="background-color: rgba(255, 98, 92);"></div>
                  <div class="text-dot" style="background-color: rgba(254, 191, 67);"></div>
                  <div class="text-dot" style="background-color: rgba(53, 201, 75);"></div>
                </div>
    
                <p>app.component.css</p>
              </div>
    
              <div class="line-container">
                <p class="line-number">1</p>
                <p>{{ oneLineCSS }}</p>
              </div>
    
              <div class="line-container">
                <p class="line-number">2</p>
                <p class="line-one-space-left">{{ twoLineCSS }}</p>
              </div>
    
              <div class="line-container">
                <p class="line-number">3</p>
                <p>{{ threeLineCSS }}</p>
              </div>
    
              <div class="line-container">
                <p class="line-number">4</p>
                <p>{{ fourLineCSS }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      [class]="
        openHelp == false
          ? removeSpaceAndUpperCase(textInputHTML) == removeSpaceAndUpperCase(textCorrectHTML) ? 'phone-wrapper-finish' : 'phone-wrapper'
          : 'phone-wrapper-open'
      "
    >
      <div class="phone-container">
        <div class="phone-top-container">
          <div class="phone-top">
            <div class="phone-sound"></div>
            <div class="phone-camera"></div>
          </div>
        </div>

        <div class="phone-contents">
          <p class="main-ballon-text">
            {{ textPhone }}
          </p>

          <input [placeholder]="fiveLineHTML" [class.success]="true" [(ngModel)]="textPhone">

          <button
            class="button-phone"
            *ngIf="removeSpaceAndUpperCase(textInputHTML) != removeSpaceAndUpperCase(textCorrectHTML)"
          >
            Limpar
          </button>
          <button
            (click)="onClear()"
            class="button-phone"
            *ngIf="removeSpaceAndUpperCase(textInputHTML) == removeSpaceAndUpperCase(textCorrectHTML)"
          >
            Limpar
          </button>

          <br><br>
          <p
            class="secondary-ballon-text"
            *ngIf="removeSpaceAndUpperCase(textInputHTML) == removeSpaceAndUpperCase(textCorrectHTML)"
          >
            Para baixar o projeto, basta copiar ou clicar no link do GitHub abaixo:
          </p>
          <a
            *ngIf="removeSpaceAndUpperCase(textInputHTML) == removeSpaceAndUpperCase(textCorrectHTML)"
            href="https://github.com/jacolpn/jacolpn.github.io"
            target="_blank"
            class="link-ballon-text"
          >
            https://github.com/jacolpn/jacolpn.github.io
          </a>
        </div>
      </div>
    </div>

    <box-congrats
      level="5"
      [open]="removeSpaceAndUpperCase(textInputHTML) == removeSpaceAndUpperCase(textCorrectHTML)"
    >
    </box-congrats>

    <box-help level="5" openModal="openModal" (open)="openHelp = $event"></box-help>

    <status-level level="5"></status-level>
  </div>
</section>
