.main-wrapper {
  height: 50em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-background {
  position: absolute;
  height: 50em;
  width: 100%;
  z-index: 0;
  opacity: 0.08;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.main-container-text {
  width: 80%;
  z-index: 9;
}

.main-text {
  text-align: center;
  padding-bottom: .2em;
  z-index: 9;
}

.main-text button {
  margin-top: 3em;
}

.main-text div {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
}

.text-angular {
  font-weight: 800;
  color: #1976d2;
  z-index: 9;
}

.main-text-like {
  width: 21em;
  font-size: .6em;
  margin-top: .5em;
  margin-bottom: 2em;
}

.main-square-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-title-demonstration {
  position: absolute;
  margin: 0 40em 22em 0;
  color: #1976d2;
  opacity: .8;
  z-index: 9;
}

.main-square {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
  border: #0d47a1 1px inset;
  box-shadow: .04em .04em #0d47a1;
  border-radius: .2em;
  min-width: 51em;
  min-height: 20em;
  padding-top: 2em;
  margin-top: 1em;
}

.main-squares-two {
  display: flex;
  min-width: 42em;
  margin-top: 1em;
  margin-right: 1em;
}

.main-square-container {
  width: 14em;
}

.main-text-help {
  opacity: 0.6;
  z-index: 9;
  text-align: right;
  font-size: medium;
}

.main-container-text-help-two {
  width: 15em;
  position: absolute;
  z-index: 9;
  margin: 0 0 2em 27.5em;
}

.main-text-help-two {
  opacity: 0.6;
  z-index: 9;
  font-size: medium;
  text-align: justify;
}

.main-square-one {
  height: 4.2em;
  background-color: rgba(126, 189, 240, 0.2);
  box-shadow: .08em .08em .08em .03em #1976d2;
  padding: 0 1.1em;
  border-radius: .2em;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
}

.main-square-one p {
  margin-right: .7em;
  color: rgb(90, 90, 90);
  font-weight: 600;
  z-index: 9;
}

.main-square-one input {
  height: 2.6em;
  width: 12em;
  padding-left: .7em;
  color: #fff;
  font-weight: 600;
  z-index: 9;
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  background-color: #58606b;
  border-radius: .2em;
}

.main-square-one input::placeholder {
  color: #eaeff3;
  opacity: 0.5;
}

.container-text-complete {
  display: flex;
  width: 10.5em;
  justify-content: center;
  align-items: center;
  z-index: 9;
}

.main-first-text-complete {
  color: #1976d2 !important;
  z-index: 9;
}

.main-second-text-complete {
  color: rgb(114, 113, 113) !important;
  z-index: 9;
}

.main-third-text-complete {
  color: #1976d2 !important;
  z-index: 9;
}

.main-square-two {
  height: 13em;
  width: 15em;
  margin-left: -2.3em;
  display: flex;
  flex-wrap: nowrap;
  z-index: 9;
}

.main-container-person {
  display: grid;
}

.main-person {
  height: 210.56px;
  width: 155.2px;
  margin-left: 2em;
  z-index: 9;
}

.main-shadow {
  position: absolute;
  height: 90px;
  margin-top: 9.2em;
  margin-left: 0em;
  z-index: 8;
}

.main-ballon {
  background-image: url('../../../assets/images/ballonLeft.png');
  background-size: 100% 100%;
  height: 122.4px;
  width: 122.4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -4em;
  margin-left: 7.7em;
  position: absolute;
  z-index: 9;
}

.main-animation-loading {
  color: #0d47a1;
  font-weight: 900;
  font-size: xx-large;
  margin-bottom: 1.5em;
}

.first-dot {
  animation: first-loading 1s ease-in-out infinite;
  z-index: 9;
}

@keyframes first-loading {
    0% {
    color: #1976d2;
    }
  50% {
    color: white;
  }
    100% {
        color: #0d47a1;
    }
}

.second-dot {
  animation: second-loading 1.001s ease-in-out infinite;
  z-index: 9;
}

@keyframes second-loading {
    0% {
    color: #1976d2;
    }
  50% {
    color: white;
  }
    100% {
        color: #0d47a1;
    }
}

.third-dot {
  animation: third-loading 1.002s ease-in-out infinite;
  z-index: 9;
}

@keyframes third-loading {
    0% {
    color: #1976d2;
    }
  50% {
    color: white;
  }
    100% {
        color: #0d47a1;
    }
}

.main-ballon-text {
  color: #0d47a1;
  font-weight: 900;
  margin-bottom: 2em;
  z-index: 9;
}

.main-confetti {
  height: 60em;
  width: 60em;
  position: absolute;
  z-index: 1;
}

.second-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 3em 0;
}

.second-container {
  width: 80%;
}

.second-container-square {
  display: flex;
  justify-content: center;
}

.second-square {
  height: 10em;
  width: 20em;
  margin-top: 3em;
  border-radius: .3em;
  background-color: #fff;
}

.third-wrapper {
  height: 45em; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.third-background {
  position: absolute;
  height: 45em;
  width: 100%;
  opacity: 0.08;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.third-container {
  width: 80%;
  text-align: center;
  z-index: 9;
}

.third-text {
  text-align: justify;
  z-index: 9;
}

.third-container-square {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 6vh;
  z-index: 9;
}

.third-square {
  height: 16em;
  width: 30em;
  margin: .2em .9em 0 .9em;
  border-radius: .3em;
  background-color:#fff;
  z-index: 9;
}

.fourth-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5em 0;
}

.fourth-container {
  width: 80%;
  text-align: center;
}

.fourth-container button {
  margin-top: 3em;
}

@media only screen and (max-width: 760px) {
  .main-wrapper {
    height: 60em;
  }

  .main-background {
    height: 60em;
  }

  .main-title-demonstration {
    display: none;
  }
  
  .main-square {
    display: grid;
    border: none;
    box-shadow: 0 0 0 0;
    border-radius: .2em;
    min-width: 21em;
    margin-left: 0em;
  }

  .main-squares-two {
    min-width: 21em;
    margin: 0;
  }

  .main-square-one p {
    margin-right: .5em;
    margin-left: -.3em;
  }
  
  .main-square-one input {
    width: 10.2em;
    padding-left: .6em;
  }
  
  .container-text-complete {
    width: 9em;
  }
  
  .main-square-two {
    margin-top: 1em;
  }
  
  .main-person {
    height: 200.56px;
    width: 145.2px;
    margin-left: 0;
  }
  
  .main-shadow {
    margin-top: 8.7em;
    margin-left: -1.8em;
  }
  
  .main-ballon {
    margin-left: 5em;
  }
  
  .main-animation-loading {
    color: #0d47a1;
    font-weight: 900;
    font-size: xx-large;
    margin-bottom: 1.5em;
  }
  
  .main-ballon-text {
    color: #0d47a1;
    font-weight: 900;
    margin-bottom: 2em;
    z-index: 9;
  }

  .main-container-text-help-two {
    width: 100%;
    position: initial;
    margin: 2.5em 0 0 0;
  }
  
  .main-confetti {
    height: 30em;
    width: 20em;
    position: absolute;
    z-index: 1;
  }
  
  .second-container h3 {
    text-align: justify;
  }

  .third-container-square {
    display: grid;
  }
  
  .third-square {
    height: 16em;
    width: 18em;
    margin: .5em 0;
  }

  .third-wrapper {
    height: 60em;
  }
  
  .third-background {
    height: 60em;
  }
}
