.wrapper-modal-next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: -4.2em;
  position: fixed;
  left: 0;
  background-color: rgba(0, 0, 0, 0.674);
  z-index: 3;
  animation: modal-next .6s ease-in-out forwards;
}

.close {
  display: none;
}

.modal-next {
  text-align: center;
  color: var(--color-grey);
  background-color: var(--color-white);
  border-radius: 2.4em;
  z-index: 21;
  max-width: 30%;
  padding: 1.5em;
  animation: modal-next-dialog 1s ease-in-out forwards;
}

.modal-next h2 {
  animation: modal-next-dialog 1s ease-in-out forwards;
}

.modal-next p {
  animation: modal-next-dialog 1s ease-in-out forwards;
  margin-bottom: 1em;
}

.modal-next button {
  animation: modal-next-dialog 1s ease-in-out forwards;
}

@keyframes modal-next {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes modal-next-dialog {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 750px) {
  .wrapper-modal-next {
    height: 100%;
    margin-top: -4.3em;
    position: fixed;
  }

  .modal-next {
    max-width: 60%;
    position: fixed;
  }
}

@media only screen and (max-width: 420px) {
  .wrapper-modal-next {
    height: 100%;
    margin-top: -29.3em;
    position: fixed;
  }
}
