.second-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 3em 0;
}

.second-container {
  width: 80%;
}

.wrapper-union-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.first-subtitle {
  margin-top: 1em;
}

.wrapper-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-text {
  width: 80%;
  text-align: justify;
  margin: .9em 0 3em 0;
}

.container-text-center {
  width: 60%;
  text-align: center;
  margin: .9em 0 1em 0;
}

.second-container-square {
  display: flex;
  justify-content: center;
}

.second-square {
  height: 170px;
  width: 402.5px;
  border-radius: .3em;
  background-image: url('../../../assets/gifs/solution-001.gif');
  background-size: 100% 100%;
}

p {
  margin-bottom: .6em;
}

@media only screen and (max-width: 760px) {
  .wrapper-union-text {
    display: grid;
  }

  .second-container {
    width: 90%;
  }
  .container-text {
    width: 85%;
  }

  .container-text-center {
    width: 85%;
  }
}
