<section class="second-wrapper">
  <div class="second-container">
    <h2>A aprendizagem tradicional tem DOIS GRANDES PROBLEMAS</h2>
    <div class="wrapper-union-text">
      <div>
        <h3 class="first-subtitle">Problema nº 1: Falta de prática</h3>

        <div class="wrapper-text">
          <div class="container-text">
            <p>
              De acordo com a pesquisa em neurociência, o essencial na aprendizagem é a prática. 
              Quanto mais praticamos, mais eficazmente nosso cérebro armazena as informações aprendidas para acesso posterior. 
              No entanto, o aprendizado tradicional é o oposto da prática.
            </p>
            <p>
              Quantas vezes você abriu um editor de código e começou a codificar depois de assistir a outro tutorial de codificação? 
              Provavelmente não o suficiente. Mas o problema não é com você. É a maneira como você aprende.
            </p>
            <p>
              Vídeos codificados são projetados para serem consumidos como programas de TV. 
              Como resultado, todas as horas gastas "aprendendo" se transformam em horas gastas "observando a teoria". 
              E apenas a teoria sem prática leva ao aprendizado improdutivo. Especialmente ao aprender a codificar.
            </p>
          </div>
        </div>
      </div>

      <div>
        <h3>Problema nº 2: baixo envolvimento</h3>

        <div class="wrapper-text">
          <div class="container-text">
            <p>
              De acordo com a pesquisa da neurociência, precisamos garantir que o aprendizado seja envolvente e aproveite o lado emocional do cérebro, por meio do humor, da narrativa e dos jogos. A ênfase no racional e lógico por si só não produz memórias fortes.
            </p>
            <p>
              E você se lembra da última vez que assistiu a um tutorial de codificação ou leu um artigo que não era chato? Difícil de lembrar de uma vez, certo? Isso porque a maior parte do conteúdo educacional é entediante.
            </p>
            <p>
              O tédio leva à falta de foco e à procrastinação, o que o impede de permanecer engajado e de se lembrar de tudo o que aprendeu.
            </p>
          </div>
        </div>
      </div>
    </div>
    
    <h2>Solução?</h2>

    <div class="wrapper-text">
      <div class="container-text-center">
        <p>
          Combine toneladas de prática com um ambiente envolvente e interativo onde você aprende fazendo.
        </p>
      </div>
    </div>

    <div class="second-container-square">
      <div class="second-square"></div>
    </div>
  </div>
</section>
