.wrapper {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
  margin-left: -10em;
  opacity: .3;
}

.angular-pt-four {
  position: absolute;
  z-index: 2;
  opacity: .3;
  margin-top: 4em;
  width: 136px;
  height: 189px;
}

.container {
  width: 50%;
  text-align: justify;
  z-index: 3;
}

h1 {
  text-align: left;
}

p {
  margin-top: 1em;
}

button {
  margin-top: 1em;
}

@media only screen and (max-width: 1000px) {
  .wrapper {
    margin: 1em 0 0 0;
  }
  
  .angular-pt-one {
    margin: 0;
  }

  .container {
    width: 80%;
  }
}
