<section class="wrapper">
  <div class="container">
    <h1>Introdução</h1>
    
    <p>
      Era uma vez um Rei Arthur. Ele governou seu reino de forma justa. 
      Mas Arthur tinha um problema. Ele era uma pessoa muito ingênua. Então, em um dia ensolarado, 
      três irmãos alquimistas ofereceram a Arthur para trocar todas as suas moedas de ouro por 
      moedas feitas de um novo metal mais valioso que eles haviam inventado - Bit Coins.
    </p>
    <p>
      Arthur acreditou neles e deu-lhes todo o seu ouro. 
      Os irmãos pegaram o ouro e prometeram devolver as moedas a Arthur em sete dias.
    </p>
    <p>
      Sete dias se passaram. Os irmãos não apareceram. Arthur percebeu que havia sido enganado. 
      Ele está com raiva e pretende se vingar deles. Vamos ajudá-lo a fazer isso com nossa arma - CSS Flex Box!
    </p>

    <button [routerLink]="['introduction']">Começar a aventura introdutória</button>
  </div>
</section>
