.wrapper {
  height: 79%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper > div {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  max-width: 1366px;
}

@media only screen and (max-width: 1000px) {
  .wrapper {
    height: 100%;
  }

  .wrapper > div {
    grid-template-columns: repeat(1, 1fr);
  }
}
