<section class="wrapper">
  <div class="container">
    <h1>Flex Box Adventure</h1>
    
    <p>
      Era uma vez um Rei Arthur. Ele governou seu reino de forma justa. 
      Mas Arthur tinha um problema. Ele era uma pessoa muito ingênua. Então, em um dia ensolarado, 
      três irmãos alquimistas ofereceram a Arthur para trocar todas as suas moedas de ouro por 
      moedas feitas de um novo metal mais valioso que eles haviam inventado - Bit Coins.
    </p>
    <p>
      Arthur acreditou neles e deu-lhes todo o seu ouro. 
      Os irmãos pegaram o ouro e prometeram devolver as moedas a Arthur em sete dias.
    </p>
    <p>
      Sete dias se passaram. Os irmãos não apareceram. Arthur percebeu que havia sido enganado. 
      Ele está com raiva e pretende se vingar deles. Vamos ajudá-lo a fazer isso com nossa arma - CSS Flex Box!
    </p>

    <button>Comece a aventura e Lean Flexbox</button>
  </div>
</section>

<section class="wrapper">
  <div class="container">
    <h1>We made this game for You</h1>
    
    <p>
      1. Você costuma tropeçar e tentar descobrir qual combinação de propriedades do Flex Box 
      faz com que o navegador faça o que você deseja.
    </p>
    <p>
      2. Você deseja criar layouts de web complexos sem olhar constantemente para a página da 
      web após cada pressionamento de Cmd / Ctrl + S no editor de código.
    </p>
    <p>
      3. Você tentou aprender o Flex Box com tutoriais em vídeo e artigos, mas ainda não entendeu 
      completamente como algumas partes dele funcionam.
    </p>
    <p>
      4. Ou, se você é um mestre em CSS Flex Box, temos algo interessante e para você também (leia mais).
    </p>
    <p>
      É você? Então você definitivamente quer aprender Flex Box ou melhorar suas habilidades atuais. 
      Temos boas notícias para você ... realmente boas notícias!
    </p>
  </div>
</section>

<div class="fourth-wrapper">
  <div class="fourth-container">
    <h1>Pronto para começar sua aventura?</h1>

    <h3>Junte-se a mais de 2 pessoas que começaram a jogar</h3>

    <button>Comece a aventura e Lean Flexbox</button>
  </div>
</div>