<section class="wrapper">
  <div>
    <!-- 
    <app-reloaded></app-reloaded>
    <app-revolutions></app-revolutions>
    <app-resurrections></app-resurrections> -->
    <!-- [routerLink]="['introduction/first'] -->
    <app-introduction></app-introduction>
    <div class="angular-pt-one" >
      <h2>Introdução</h2>
      <img src="../../../assets/images/angular-pt-one.png" alt="scenery">
    </div>
    <div class="angular-pt-two">
      <h2>Reloaded</h2>
      <img src="../../../assets/images/angular-pt-two.png" alt="scenery">
    </div>
    <div class="angular-pt-three">
      <h2>Revolutions</h2>
      <img src="../../../assets/images/angular-pt-three.png"alt="scenery">
    </div>
    <div class="angular-pt-four">
      <h2>Resurrections</h2>
      <img src="../../../assets/images/angular-pt-four.png" alt="scenery">
    </div>
  </div>
</section>
