<section>
  <div>
    <img src="../../../assets/images/first-scenery.png" class="scenary" alt="scenery">
    <img
      class="main-confetti"
      *ngIf="removeSpaceAndUpperCase(textInputHTML) == removeSpaceAndUpperCase(textCorrectHTML)"
      src="../../../assets/gifs/confetti-3.gif"
    >

    <div
      class="container-font"
      [style.animation]="
        openHelp == false 
          ? 'opacity-help-down 1.6s ease-in-out backwards' 
          : 'opacity-help-open 1s ease-in-out forwards'
      "
    >
      <box-font title="app.component.ts">
        <div class="line-container">
          <p class="line-number">1</p>
          <p class="big-line">{{ codeIntroduction.lineOneTS }}</p>
        </div>

        <div class="line-container">
          <p class="line-number">2</p>
          <p class="line-one-space-left">{{ codeIntroduction.lineTwoTS }}</p>
        </div>

        <div class="line-container">
          <p class="line-number">3</p>
        </div>

        <div class="line-container">
          <p class="line-number">4</p>
          <p class="line-one-space-left">{{ codeIntroduction.lineThreeTS }}</p>
        </div>

        <div class="line-container">
          <p class="line-number">5</p>
        </div>

        <div class="line-container">
          <p class="line-number">6</p>
          <p class="line-one-space-left">{{ codeIntroduction.lineFourTS }}</p>
        </div>

        <div class="line-container">
          <p class="line-number">7</p>
          <p >{{ codeIntroduction.lineNineTS }}</p>
        </div>

        <div class="line-container">
          <p class="line-number">8</p>
        </div>
      </box-font>

      <box-font title="app.component.html">
        <div class="line-container">
          <p class="line-number">1</p>
          <p>{{ codeIntroduction.lineOneHTML }}</p>
        </div>

        <div class="line-container">
          <p class="line-number">2</p>
          <p class="line-one-space-left">{{ codeIntroduction.lineTwoHTML }}</p>
        </div>

        <div class="line-container">
          <p class="line-number">3</p>
        </div>

        <div class="line-container">
          <p class="line-number">4</p>
          <p class="line-one-space-left line-input">
            <span>{{ codeIntroduction.lineThreeHTML }}</span>

            <input
              *ngIf="removeSpaceAndUpperCase(textInputHTML) != removeSpaceAndUpperCase(textCorrectHTML)"
              [(ngModel)]="textInputHTML"
              class="line-one-space-left input-level"
              type="text"
              (focusout)="conclude()"
            >

            <span
              *ngIf="removeSpaceAndUpperCase(textInputHTML) == removeSpaceAndUpperCase(textCorrectHTML)"
              class="text-complete"
            >
              {{ textCorrectHTML }}
            </span>
            <span>{{ codeIntroduction.lineFourChallengeHTML }}</span>
          </p>
        </div>

        <div class="line-container">
          <p class="line-number">5</p>
          <p>{{ codeIntroduction.lineNineHTML }}</p>
        </div>

        <div class="line-container">
          <p class="line-number">6</p>
        </div>
      </box-font>
    </div>

    <div
      [class]="
        openHelp == false 
          ? removeSpaceAndUpperCase(textInputHTML) == removeSpaceAndUpperCase(textCorrectHTML) ? 'phone-wrapper-finish' : 'phone-wrapper'
          : 'phone-wrapper-open'
      "
    >
      <div class="phone-container">
        <div class="phone-top-container">
          <div class="phone-top">
            <div class="phone-sound"></div>
            <div class="phone-camera"></div>
          </div>
        </div>

        <div class="phone-contents">
          <p class="main-ballon-text">
            Olá Mundo!
          </p>

          <p
            *ngIf="
              textInputHTML.length > 0 && removeSpaceAndUpperCase(textInputHTML) != removeSpaceAndUpperCase(textCorrectHTML)
            "
          >
            <span class="first-dot">.</span>
            <span class="second-dot">.</span>
            <span class="third-dot">.</span>
          </p>

          <p
            *ngIf="removeSpaceAndUpperCase(textInputHTML) == removeSpaceAndUpperCase(textCorrectHTML)"
          >
            <input [placeholder]="textCorrectHTML">
          </p>
        </div>
      </div>
    </div>

    <box-congrats
      level="2"
      [open]="removeSpaceAndUpperCase(textInputHTML) == removeSpaceAndUpperCase(textCorrectHTML)"
    >
    </box-congrats>

    <box-help level="2" (open)="openHelp = $event"></box-help>

    <status-level level="2"></status-level>
  </div>
</section>
