<section>
  <div>
    <img src="../../../assets/images/first-scenery.png" class="scenary" alt="scenery">

    <div
      class="container-font"
      [style.animation]="
        openHelp == false 
          ? 'opacity-help-down 1.6s ease-in-out backwards' 
          : 'opacity-help-open 1s ease-in-out forwards'
      "
    >
      <box-font title="app.component.ts">
        <div class="line-container">
          <p class="line-number">1</p>
          <p class="big-line">{{ firstLine }}</p>
        </div>

        <div class="line-container">
          <p class="line-number">2</p>
          <p class="line-one-space-left">texto: string = "Olá Mundo";</p>
        </div>

        <div class="line-container">
          <p class="line-number">3</p>
        </div>

        <div class="line-container">
          <p class="line-number">4</p>
          <p class="line-one-space-left">{{ thirdLine }}</p>
        </div>

        <div class="line-container">
          <p class="line-number">5</p>
        </div>

        <div class="line-container">
          <p class="line-number">6</p>
          <p class="line-one-space-left">{{ fourthLine }}</p>
        </div>

        <div class="line-container">
          <p class="line-number">7</p>
          <p >{{ fifthLine }}</p>
        </div>

        <div class="line-container">
          <p class="line-number">8</p>
        </div>
      </box-font>

      <box-font title="app.component.html">
        <div class="line-container">
          <p class="line-number">1</p>
          <p>{{ firstLineHtml }}</p>
        </div>

        <div class="line-container">
          <p class="line-number">2</p>
          <p class="line-one-space-left">{{ secondLineHtml }}</p>
        </div>

        <div class="line-container">
          <p class="line-number">3</p>
        </div>

        <div class="line-container">
          <p class="line-number">4</p>
          <p class="line-one-space-left line-input">
            <span>{{ fourthLineHtml }}</span>

            <input
              *ngIf="removeSpaceAndUpperCase(textInputHtml) != removeSpaceAndUpperCase(textCorrectHtml)"
              [(ngModel)]="textInputHtml"
              class="line-one-space-left input-level"
              type="text"
              (focusout)="conclude()"
            >

            <span
              *ngIf="removeSpaceAndUpperCase(textInputHtml) == removeSpaceAndUpperCase(textCorrectHtml)"
              class="text-complete"
            >
              {{ textCorrectHtml }}
            </span>
            <span>{{ fourthTwoLineHtml }}</span>
          </p>
        </div>

        <div class="line-container">
          <p class="line-number">5</p>
          <p>{{ fifthLineHtml }}</p>
        </div>

        <div class="line-container">
          <p class="line-number">6</p>
        </div>
      </box-font>
    </div>

    <div
      [class]="
        openHelp == false 
          ? removeSpaceAndUpperCase(textInputHtml) == removeSpaceAndUpperCase(textCorrectHtml) ? 'phone-wrapper-finish' : 'phone-wrapper'
          : 'phone-wrapper-open'
      "
    >
      <div class="phone-container">
        <div class="phone-top-container">
          <div class="phone-top">
            <div class="phone-sound"></div>
            <div class="phone-camera"></div>
          </div>
        </div>

        <div class="phone-contents">
          <p class="main-ballon-text">
            Olá Mundo!
          </p>

          <p
            *ngIf="
              textInputHtml.length > 0 && removeSpaceAndUpperCase(textInputHtml) != removeSpaceAndUpperCase(textCorrectHtml)
            "
          >
            <span class="first-dot">.</span>
            <span class="second-dot">.</span>
            <span class="third-dot">.</span>
          </p>

          <p
            *ngIf="removeSpaceAndUpperCase(textInputHtml) == removeSpaceAndUpperCase(textCorrectHtml)"
          >
            <input [placeholder]="textCorrectHtml">
          </p>
        </div>
      </div>
    </div>

    <box-congrats
      level="2"
      [open]="removeSpaceAndUpperCase(textInputHtml) == removeSpaceAndUpperCase(textCorrectHtml)"
    >
    </box-congrats>

    <box-help level="2" (open)="openHelp = $event"></box-help>

    <status-level level="2"></status-level>
  </div>
</section>
