.main-wrapper {
  height: 90vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 0;
  padding: 0;
}

.main-background {
  position: absolute;
  height: 90%;
  width: 100%;
  background-image: url('../../assets/images/background.jpg');
  z-index: 0;
  opacity: 0.08;
  background-repeat: no-repeat;
  background-size: auto 100%;
  margin: 0;
  padding: 0;
}

.main-container-text {
  width: 80%;
  z-index: 1;
  margin: 0;
  padding: 0;
}

.main-text {
  text-align: center;
  padding-bottom: 20px
}

.text-angular {
  color: #1976d2;
}

h1 {
  font-size: 7.5vh;
  text-shadow: 0 0 20px rgb(192 219 255 / 48%), 0 0 8px rgb(65 120 255 / 24%);
  margin: 0 0 2vh 0;
}

h3 {
  font-weight: 500;
  margin: 0;
}

.main-button {
  margin: 7vh 0 0 0;
  padding: 2vh 4vh;
  cursor: pointer;
}

.main-text-like {
  font-size: 1.4vh;
  margin: 1vh 0 3vh 0;
  padding: 0;
}

.main-square {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.main-square-one {
  height: 15vh;
  width: 25vw;
  background-color: white;
  border-radius: 5px;
}

.main-square-two {
  height: 35vh;
  width: 30vw;
  background-color: white;
  border-radius: 5px;
}

.second-wrapper {
  height: 80vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.second-container {
  margin-top: -7vh;
  width: 80%;
}

.second-container-square {
  display: flex;
  justify-content: center;
}

.second-square {
  height: 40vh;
  width: 55vw;
  margin: 6vh 0 0 0;
  background-color: white;
  border-radius: 5px;
}

.third-container {
  margin-top: -4vh;
  width: 80%;
}

.third-container-square {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0;
  padding: 6vh 0 0 0;
}

.third-square-one {
  height: 40vh;
  width: 30vw;
  background-color:white;
  border-radius: 5px;
}

.third-square-two {
  height: 40vh;
  width: 30vw;
  background-color: white;
  border-radius: 5px;
}

.fourth-wrapper {
  height: 40vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fourth-container {
  width: 80%;
  text-align: center;
}

.second-button {
  margin-top: 3vh;
  padding: 2vh 4vh;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 4.5vh;
    margin-bottom: 2vh;
  }

  .main-square-one {
    height: 10vh;
    width: 30vw;
  }

  .main-square-two {
    height: 20vh;
    width: 40vw;
  }

  .second-square {
    margin-top: 5vh;
    width: 75vw;
  }

  .third-square-one {
    height: 20vh;
  }
  
  .third-square-two {
    height: 20vh;
  }
}
