<section class="main-wrapper">
  <div class="main-background"></div>
    
  <div class="main-container-text">
    <div class="main-text">
      <h1>Learn Code By Playing Games</h1>

      <h3>No more boring courses, videos and articles.</h3>
      <h3>Learn to code in a revolutionary new, fun, and effective way.</h3>

      <button class="main-button">Play & Learn Code</button>

      <p class="main-text-like">Join 11,000+ people who start playing</p>
    </div>

    <div class="main-square">
      <div class="main-square-one"></div>

      <div class="main-square-two"></div>
    </div>
  </div>
</section>

<div class="second-wrapper">
  <div class="second-container">
    <h1>Solution?</h1>

    <h3>Combine tons of practice with an engaging and interactive environment where you learn by doing.</h3>

    <div class="second-container-square">
      <div class="second-square"></div>
    </div>
  </div>
</div>

<div class="second-wrapper">
  <div class="main-background"></div>

  <div class="third-container">
    <h1>Próximos desafios que estão por vir</h1>

    <p>
      According to the latest neuroscience research, 
      having fun while learning (1) avails unique cognitive resources, 
      (2) associates reward and pleasure with information, (3) 
      strengthens and broadens memory networks, and (4) 
      toggles abstract thinking and focused attention.
    </p>
  
    <div class="third-container-square">
      <div class="third-square-one"></div>
      <div class="third-square-two"></div>
    </div>
  </div>
</div>

<div class="fourth-wrapper">
  <div class="fourth-container">
    <h1>Ready to start your Adventure?</h1>

    <h3>Join 11,000+ people who start playing</h3>

    <button class="second-button">Play & Learn Code</button>
  </div>
</div>
