<section class="main-wrapper">
  <div class="main-background"></div>
    
  <div class="main-container-text">
    <div class="main-text">
      <h1>Estude <span class="text-angular">Angular</span> de uma forma divertida</h1>

      <h3>Chega de cursos, vídeos e artigos chatos.</h3>
      <h3>Aprenda a codificar de uma maneira nova, divertida e eficaz.</h3>

      <button class="main-button">Jogar & Aprender Angular</button>

      <p class="main-text-like">Junte-se a mais de 2 pessoas que começaram a jogar</p>
    </div>

    <div class="main-square">
      <div class="main-square-one"></div>

      <div class="main-square-two"></div>
    </div>
  </div>
</section>

<div class="second-wrapper">
  <div class="second-container">
    <h1>Solução?</h1>

    <h3>Combine toneladas de prática com um ambiente envolvente e interativo onde você aprende fazendo.</h3>

    <div class="second-container-square">
      <div class="second-square"></div>
    </div>
  </div>
</div>

<div class="second-wrapper">
  <div class="main-background"></div>

  <div class="third-container">
    <h1>Próximos desafios que estão por vir</h1>

    <p>
      De acordo com as pesquisas mais recentes da neurociência, divertir-se enquanto aprende aproveita recursos cognitivos únicos.
      Associar recompensa e prazer à informação, fortalece e amplia as redes de memória e alterna o pensamento abstrato e a atenção concentrada.
    </p>
  
    <div class="third-container-square">
      <div class="third-square-one"></div>
      <div class="third-square-two"></div>
    </div>
  </div>
</div>

<div class="fourth-wrapper">
  <div class="fourth-container">
    <h1>Pronto para começar sua aventura?</h1>

    <h3>Junte-se a mais de 2 pessoas que começaram a jogar</h3>

    <button class="second-button">Jogar & Aprender Angular</button>
  </div>
</div>
