<div style="height: 90vh; display: flex; justify-content: center; align-items: center; color: white;">
    <div style="position: absolute; height: 90%; width: 100%; background-image: url('https://www.wallpaperup.com/uploads/wallpapers/2014/11/12/514430/86f99e9dbaccdc948553a39a8f51dcde-500.jpg'); z-index: 0; opacity: 0.08; background-repeat: no-repeat; background-size: auto 100% ;"></div>
    <div style="width: 80%; z-index: 1;">
      <div style="text-align: center; padding-bottom: 20px;">
        <h1>Learn Code By Playing Games</h1>
        <h3>
          <p>No more boring courses, videos and articles.</p>
          <p>Learn to code in a revolutionary new, fun, and effective way.</p>
        </h3>
        <button>Play & Learn Code</button>
        <p>Join 11,000+ people who start playing</p>
      </div>
      <div style="display: flex; justify-content: center; align-items: center;">
        <div style="height: 120px; width: 300px; background-color: white; margin-right: 6%; border-radius: 5px;">
        </div>
        <div style="height: 420px; width: 400px; background-color: white; border-radius: 5px;">
        </div>
      </div>
    </div>
</div>
<div style="height: 80vh; color: white; display: flex; align-items: center; justify-content: center; text-align: center;">
    <div style="width: 80%;">
      <h1>Solution?</h1>
      <p>Combine tons of practice with an engaging and interactive environment where you learn by doing.</p>
      <div style="display: flex; justify-content: center;">
        <div style="height: 400px; width: 700px; background-color: white; border-radius: 5px;"></div>
      </div>
    </div>
</div>
<div id="awesomePart" style="height: 80vh; color: white; display: flex; align-items: center; justify-content: center; text-align: center;">
    <div style="position: absolute; height: 80%; width: 100%; background-image: url('https://www.wallpaperup.com/uploads/wallpapers/2014/11/12/514430/86f99e9dbaccdc948553a39a8f51dcde-500.jpg'); z-index: 0; opacity: 0.08; background-repeat: no-repeat; background-size: auto 100% ;"></div>
    <div style="width: 80%;">
      <h1>Próximos desafios que estão por vir</h1>
      <p>According to the latest neuroscience research, having fun while learning (1) avails unique cognitive resources, (2) associates reward and pleasure with information, (3) strengthens and broadens memory networks, and (4) toggles abstract thinking and focused attention.</p>
      <div style="display: flex; align-items: center; justify-content: center; text-align: center;">
        <div style="width: 300px; height: 250px; background-color: white; margin-right: 6%; border-radius: 5px;"></div>
        <div style="width: 300px; height: 250px; background-color: white; border-radius: 5px;"></div>
      </div>
    </div>
</div>
  <div style="height: 30vh; color: white; display: flex; align-items: center; justify-content: center;">
    <div style="width: 80%; text-align: center;">
      <h1>Ready to start your Adventure?</h1>
      <p>Join 11,000+ people who start playing</p>
      <button>Play & Learn Code</button>
    </div>
</div>
