<section class="wrapper">
  <img src="../../../assets/images/angular-pt-one.png" class="angular-pt-one" alt="scenery">

  <div class="container">
    <h1>Introdução</h1>
    
    <p>
      Cada Angular template em sua aplicação, é uma seção de HTML para incluir como parte da página que o navegador exibe.
      Um Angular HTML template renderiza uma visualização ou interface de usuário no navegador, assim como o HTML normal, mas com muito mais funcionalidade.
    </p>
    <p>
      <b>Estudaremos:</b> Interpolation, Property Binding, Class Binding, Two-Way Data Binding e Event Binding.
    </p>

    <button [routerLink]="['introduction/first']">Começar a aventura introdutória</button>
  </div>
</section>
